.menu {
    &-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0px 32px;
    }

    &-container-separator {
        border: 1px solid #F8F8F8;
    }

    &-container-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 86px;
        background: #ffffff;
        padding: 0px;
    }

    &-container-item-text {
        font-size: 32px;
        color: #303030;
    }

    &-container-item-icon {
        width: 14px;
        height: 22px;
    }
}