.user-guide {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.86);
    z-index: 1999;
    
    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-container-tips {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
    }

    &-container-tips-firstline {
        font-size: 28px;
        color: #FFFFFF;
        font-weight: bold;
    }

    &-container-tips-secondeline {
        font-size: 34px;
        color: #FFFFFF;
        font-weight: bold;
        height: 68px;
        line-height: 68px;
    }

    &-container-icon {
        width: 124px;
        height: 190px;
        margin-top: 70px;
    }
}