.read-record-content {
    width: 682px;
    padding: 20px 0px;
 
    &-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 20px 0px;
    }

    &-item-cover {
        width: 106px;
        height: 150px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.22);
        margin-right: 32px;
        flex-shrink: 0;
    }

    &-item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 6px 0px;
        align-items: flex-start;
    }

    &-item-info-name {
        font-family: PingFangSC-Medium;
        font-size: 28px;
        line-height: 40px;
        color: #101010;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
    }

    &-item-info-lastread {
        font-family: PingFangSC-Regular;
        font-size: 24px;
        line-height: 34px;
        color: #9E9E9E;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
    }

    &-item-info-lastreadtime {
        font-family: PingFangSC-Regular;
        font-size: 24px;
        line-height: 34px;
        color: #9E9E9E;
    }

    &-item-separator {
        width: 100%;
        height: 2px;
        background: #F8F8F8;
    }

}

.formid-bttn::after {
    border: none;
}
.formid-bttn {
    padding: 0;
    background: #fff;
    border-radius: 0;
}