.book-loading-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 999;
}

.book-loading {
    z-index: 1000;
    width: 194px;
    height: 194px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    background: rgba(76,76,76,0.79);
    border-radius: 22px;
    align-items: center;
    justify-content: center;

    &-text {
        font-size: 28px;
        color: #F0F0F0;
    }
}

.loader{
    border: 3px solid #d2d2d2;
    border-radius: 2px;
    width: 70px;
    height: 50px;
    margin: 30px auto;
    position: relative;
    perspective: 100px;
    perspective-origin: 50% 100%;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
    box-sizing: border-box;
}

.loader-inner{
    width: 50%;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    transform-origin: 0% 100%;
    box-sizing: border-box;
}

.loader-inner:first-child{
    left: 0;
}

.book-loading-line {
    margin: 6px 3px 0px;
    border: 1px solid rgba(210, 210, 210, 0.42);
    box-sizing: border-box;
}
.loader .loader-inner.box{
    animation: loading-1 3s infinite ease-in-out;
}
.loader .loader-inner.box-1{
    animation-delay: .2s;
}
.loader .loader-inner.box-2{
    animation-delay: .4s;
}
.loader .loader-inner.box-3{
    animation-delay: 0.6s;
}
.loader .loader-inner.box-4{
    animation-delay: 0.8s;
}
.loader .loader-inner.box-5{
    animation-delay: 1.8s;
}
.loader .loader-inner.box-6{
    animation-delay: 2.2s;
}

@keyframes loading-1{
    30%,100%{
        transform: translateX(0px) rotateY(-180deg);
    }
}