.search-history {
    width: 682px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 106px;

    &-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 96px;
        width: 100%;
    }

    &-item-icon {
        width: 38px;
        height: 40px;
        margin-right: 38px;
    }

    &-item-text {
        font-size: 32px;
        color: #111111;
        height: 96px;
        line-height: 96px;
    }

    &-separator {
        width: 100%;
        height: 2px;
        background: #F4F4F4;
    }

    &-clear {
        font-size: 32px;
        color: #3E96F1;
        margin-top: 26px;
    }
}