.search-history {
    width: 682px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // margin-top: 106px;

    &-container {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 96px;
        width: 100%;
    }

    &-item-icon {
        width: 38px;
        height: 40px;
        margin-right: 38px;
        flex-shrink: 0;
    }

    &-item-text {
        font-size: 32px;
        color: #111111;
        height: 96px;
        line-height: 96px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &-separator {
        width: 100%;
        height: 2px;
        background: #F4F4F4;
    }

    &-clear {
        font-size: 32px;
        color: #3E96F1;
        margin-top: 26px;
    }
}