.read-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px 34px;
    height: 108px;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.10);

    &-share {
        width: 50%;
        text-align: center;
        line-height: 74px;
        height: 74px;
        font-size: 32px;
        color: #353535;
        background: #FFFFFF;
    }

    &-share::after{ 
        border: none; 
    } 

    &-read {
        width: 50%;
        text-align: center;
        line-height: 74px;
        height: 74px;
        font-size: 32px;
        color: #FFFFFF;
        font-weight: bold;
        background: linear-gradient(90deg, #FF615F 0%, #DE1514 100%);
        border-radius: 37px;
    }
}