.we-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 428px;

    &-tips {
        font-size: 28px;
        color: #898686;
        margin-bottom: 24px;
        font-weight: bold;
    }

    &-bttn {
        width: 686px;
        height: 80px;
        background: #43D071;
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &-bttn-icon {
        width: 44px;
        height: 44px;
    }

    &-bttn-text {
        font-size: 32px;
        color: #FAFAFA;
        margin-left: 16px;
    }
}