@import "@styles/theme.scss";

.search-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.blank-view {
    width: 100%;
    height: 106px;
}