.search-box {
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 70px;

    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 6px;
    margin-top: 30px;

    &-container {
        background: #F2F2F2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        width: 100%;
        height: 70px;
        box-sizing: border-box;
    }

    &-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        box-sizing: border-box;
        flex-grow: 1;
    }

    &-content-icon {
        width: 28px;
        height: 26px;
        margin-top: -2px;
        margin-left: 26px;
        margin-right: 18px;
        flex-shrink: 0;
    }

    &-content-input {
        color: #A8A8A8;
        font-size: 24px;
        line-height: 70px;
        height: 70px;
        flex-grow: 1;
    }

    &-content-input-placeholder {
        color: #A8A8A8;
        font-size: 24px;
    }

    &-cancle {
        width: 30px;
        height: 30px;
        margin-right: 30px;
    }
}