.ranking-list {
  width: 100%;
  height: 236px;
  
  &-item {
    height: 236px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-item-hover {
    background: #F6F7FB;
  }

  &-item-img {
    flex-shrink: 0;
    width: 122px;
    height: 160px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
    margin-left: 20px;
    margin-right: 32px;
  }

  &-item-wrap {
    height: 236px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-width: 2px;
    border-bottom-color: #F7F7F7;
    border-bottom-style: solid;
  }

  &-item-wrap-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 160px;
    padding-right: 20px;
  }

  &-item-bookname {
    font-size: 32px;
    line-height: 44px;
    color: #373737;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap:break-word;//避免被撑开
    word-break:break-all;
  }

  &-item-abstract {
    text-align: left;
    font-size: 24px;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #909090;
    word-wrap:break-word;//避免被撑开
    word-break:break-all;
  }

  &-item-wrap-lastline {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-item-author {
    font-size: 20px;
    line-height: 36px;
    height: 36px;
    color: #A0A0A0;
  }

  &-item-tags {
    display: flex;
    flex-direction: row;
  }

  &-item-tag {
    display: flex;
    flex-direction: row;
    height: 36px;
    padding: 0 14px;
    background: #EFEFF5;
    border-radius: 18px;
    margin-left: 16px;
    flex-shrink: 0;
  }

  &-item-tag-text {
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    color: #88878C;
  }
}

.formid-bttn {
  background: #fff;
  padding: 0px;
  height: 236px;
  border-radius: 0px;
}