.book-content{
    &-container {
        width: 100%;
        box-sizing: border-box;
    }

    &-container-title {
      font-weight: bold;
      width: 100%;
      padding: 20px 30px;
      box-sizing: border-box;
    }

    &-container-body {
      padding: 0px 30px;
    }

    &-container-body-text {
      display: block;
      margin: 10px 0;
    }
    
    &-container-share-unlock-container {
        box-sizing: border-box;
        background: #FDFDFD;
        border: 2px solid #ECECEC;
        border-radius: 8px;
        width: 690px;
        height: 188px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
      }
      
      &-container-share-unlock-tips {
        font-size: 24px;
        color: #898686;
        margin-top: 30px;
      }
      
      &-container-share-unlock-btn {
        border-radius: 36px;
        font-size: 28px;
        margin-bottom: 30px;
        width: 278px;
      }

      &-container-chapterLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px 80px 30px;
        box-sizing: border-box;
        background: transparent;
        border-radius: 0;
      }

      &-container-chapterLink::after {
        border-style: none;
      }
      
      &-container-chapterLink-otherlink {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
      }
      
      &-container-chapterLink-otherlink-prev {
        height: 80px;
        line-height: 80px;
        font-size: 28px;
        color: #979390;
        border: 2px solid #B3AFAC;
        text-align: center;
        border-radius: 40px;
        width: 48%;
        margin: 30px 0 0 0;
        box-sizing: border-box;
        background: transparent;
      }

      &-container-chapterLink-otherlink-chapterMenu {
        height: 80px;
        line-height: 80px;
        font-size: 28px;
        color: #979390;
        border: 2px solid #B3AFAC;
        text-align: center;
        border-radius: 40px;
        width: 48%;
        margin: 30px 0 0 0;
        box-sizing: border-box;
        background: transparent;
      }
      
      &-container-chapterLink-next {
        height: 80px;
        line-height: 80px;
        font-size: 28px;
        color: #979390;
        border: 2px solid #B3AFAC;
        text-align: center;
        border-radius: 40px;
        width: 100%;
        box-sizing: border-box;
        background: transparent;
      }
}